<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.arkanoid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pinkball"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pinkball"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Rooms"
            android:exported="false" />
        <activity android:name=".Options" />
        <activity android:name=".Record" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".LevelsMenu" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>